
.card{
  border: 1px solid #f3f3f3;
  padding: 20px;
  width: 220px;
  border-radius: 40px;
  margin-right: 30px;
  margin-bottom: 30px;

  h5{
    font-weight: 400;
    font-size: 14px;
  }
  span{
    text-transform: uppercase;
    font-size: 13px;
    opacity: 0.5;
  }
  b{
    font-size: 13px;
  }
  &:hover{
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.06) ;
    transform: translateY(-5px);
  }
  .plus{
    cursor: pointer;
  }
  button{
    background-color: transparent;
    border: none;
  }
}
